.track-path {
  margin-top: 10px;
  height: 22px;
}

.google-maps-button {
  cursor: pointer;
  text-align: center;
  position: relative;
  font-family: Roboto, Arial, sans-serif;
  font-size: 12px;
  box-shadow: rgba(0, 0, 0, 30%) 0 1px 4px -1px;
  color: rgb(86, 86, 86);
  border: 0;
  background: none padding-box rgb(255, 255, 255);
  padding: 3px 7px;
  overflow: hidden;
}
